<h1>Listing scores</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Player</th>
      <th>Score</th>
      <th>Date</th>
      <th>Is verified</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.game_id.name %></td>
        <td><%= score.player_id %></td>
        <td><%= score.score %></td>
        <td><%= score.date %></td>
        <td><%= score.is_verified %></td>
        <td><%= link_to 'Show', score %></td>
        <td><%= link_to 'Edit', edit_score_path(score) %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_score_path %>
