<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @score.game_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @score.player_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @score.score %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
